/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
:root {
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0;
    font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji
}

hr {
    height: 0;
    color: inherit
}

abbr[title] {
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted
}

b, strong {
    font-weight: bolder
}

code, kbd, pre, samp {
    font-family: ui-monospace, SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    font-size: 1em
}

small {
    font-size: 80%
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

table {
    text-indent: 0;
    border-color: inherit
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button, select {
    text-transform: none
}

[type=button], [type=reset], button {
    -webkit-appearance: button
}

legend {
    padding: 0
}

progress {
    vertical-align: baseline
}

summary {
    display: list-item
}

blockquote, dd, dl, figure, h1, h2, h3, h4, h5, h6, hr, p, pre {
    margin: 0
}

button {
    background-color: transparent;
    background-image: none
}

button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color
}

fieldset, ol, ul {
    margin: 0;
    padding: 0
}

ol, ul {
    list-style: none
}

html {
    font-family: Inter var, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    line-height: 1.5
}

body {
    font-family: inherit;
    line-height: inherit
}

*, :after, :before {
    box-sizing: border-box;
    border: 0 solid #e5e7eb
}

hr {
    border-top-width: 1px
}

img {
    border-style: solid
}

textarea {
    resize: vertical
}

input::-moz-placeholder, textarea::-moz-placeholder {
    color: #9ca3af
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #9ca3af
}

input::placeholder, textarea::placeholder {
    color: #9ca3af
}

[role=button], button {
    cursor: pointer
}

table {
    border-collapse: collapse
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit
}

a {
    color: inherit;
    text-decoration: inherit
}

button, input, optgroup, select, textarea {
    padding: 0;
    line-height: inherit;
    color: inherit
}

code, kbd, pre, samp {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace
}

audio, canvas, embed, iframe, img, object, svg, video {
    display: block;
    vertical-align: middle
}

img, video {
    max-width: 100%;
    height: auto
}

[multiple], [type=date], [type=email], [type=number], [type=password], [type=text], [type=time], [type=url], select, textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    border-color: #6b7280;
    border-width: 1px;
    border-radius: 0;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.5rem
}

[multiple]:focus, [type=date]:focus, [type=email]:focus, [type=number]:focus, [type=password]:focus, [type=text]:focus, [type=time]:focus, [type=url]:focus, select:focus, textarea:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
    --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: #2563eb;
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 transparent);
    border-color: #2563eb
}

input::-moz-placeholder, textarea::-moz-placeholder {
    color: #6b7280;
    opacity: 1
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #6b7280;
    opacity: 1
}

input::placeholder, textarea::placeholder {
    color: #6b7280;
    opacity: 1
}

select {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3E%3Cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3E%3C/svg%3E");
    background-position: right .5rem center;
    background-repeat: no-repeat;
    background-size: 1.5em 1.5em;
    padding-right: 2.5rem;
    -webkit-print-color-adjust: exact;
    color-adjust: exact
}

[multiple] {
    background-image: none;
    background-position: 0 0;
    background-repeat: unset;
    background-size: initial;
    padding-right: .75rem;
    -webkit-print-color-adjust: unset;
    color-adjust: unset
}

[type=file] {
    background: unset;
    border-color: inherit;
    border-width: 0;
    border-radius: 0;
    padding: 0;
    font-size: unset;
    line-height: inherit
}

[type=file]:focus {
    outline: 1px auto -webkit-focus-ring-color
}

input:invalid, select:invalid, textarea:invalid {
    box-shadow: none
}

.tw-prose {
    color: #374151;
    max-width: 65ch
}

.tw-prose [class~=lead] {
    color: #4b5563;
    font-size: 1.25em;
    line-height: 1.6;
    margin-top: 1.2em;
    margin-bottom: 1.2em
}

.tw-prose a {
    color: #111827;
    text-decoration: underline;
    font-weight: 500
}

.tw-prose strong {
    color: #111827;
    font-weight: 600
}

.tw-prose ol {
    counter-reset: list-counter;
    margin-top: 1.25em;
    margin-bottom: 1.25em
}

.tw-prose ol > li {
    position: relative;
    counter-increment: list-counter;
    padding-left: 1.75em
}

.tw-prose ol > li:before {
    content: counter(list-counter) ".";
    position: absolute;
    font-weight: 400;
    color: #6b7280;
    left: 0
}

.tw-prose ul > li {
    position: relative;
    padding-left: 1.75em
}

.tw-prose ul > li:before {
    content: "";
    position: absolute;
    background-color: #d1d5db;
    border-radius: 50%;
    width: .375em;
    height: .375em;
    top: .6875em;
    left: .25em
}

.tw-prose hr {
    border-color: #e5e7eb;
    border-top-width: 1px;
    margin-top: 3em;
    margin-bottom: 3em
}

.tw-prose blockquote {
    font-weight: 500;
    font-style: italic;
    color: #111827;
    border-left-width: .25rem;
    border-left-color: #e5e7eb;
    quotes: "\201C" "\201D" "\2018" "\2019";
    margin-top: 1.6em;
    margin-bottom: 1.6em;
    padding-left: 1em
}

.tw-prose blockquote p:first-of-type:before {
    content: open-quote
}

.tw-prose blockquote p:last-of-type:after {
    content: close-quote
}

.tw-prose h1 {
    color: #111827;
    font-weight: 800;
    font-size: 2.25em;
    margin-top: 0;
    margin-bottom: .8888889em;
    line-height: 1.1111111
}

.tw-prose h2 {
    color: #111827;
    font-weight: 700;
    font-size: 1.5em;
    margin-top: 2em;
    margin-bottom: 1em;
    line-height: 1.3333333
}

.tw-prose h3 {
    font-size: 1.25em;
    margin-top: 1.6em;
    margin-bottom: .6em;
    line-height: 1.6
}

.tw-prose h3, .tw-prose h4 {
    color: #111827;
    font-weight: 600
}

.tw-prose h4 {
    margin-top: 1.5em;
    margin-bottom: .5em;
    line-height: 1.5
}

.tw-prose figure figcaption {
    color: #6b7280;
    font-size: .875em;
    line-height: 1.4285714;
    margin-top: .8571429em
}

.tw-prose code {
    color: #111827;
    font-weight: 600;
    font-size: .875em
}

.tw-prose code:after, .tw-prose code:before {
    content: "`"
}

.tw-prose a code {
    color: #111827
}

.tw-prose pre {
    color: #e5e7eb;
    background-color: #1f2937;
    overflow-x: auto;
    font-size: .875em;
    line-height: 1.7142857;
    margin-top: 1.7142857em;
    margin-bottom: 1.7142857em;
    border-radius: .375rem;
    padding: .8571429em 1.1428571em
}

.tw-prose pre code {
    background-color: transparent;
    border-width: 0;
    border-radius: 0;
    padding: 0;
    font-weight: 400;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit
}

.tw-prose pre code:after, .tw-prose pre code:before {
    content: ""
}

.tw-prose table {
    width: 100%;
    table-layout: auto;
    text-align: left;
    margin-top: 2em;
    margin-bottom: 2em;
    font-size: .875em;
    line-height: 1.7142857
}

.tw-prose thead {
    color: #111827;
    font-weight: 600;
    border-bottom-width: 1px;
    border-bottom-color: #d1d5db
}

.tw-prose thead th {
    vertical-align: bottom;
    padding-right: .5714286em;
    padding-bottom: .5714286em;
    padding-left: .5714286em
}

.tw-prose tbody tr {
    border-bottom-width: 1px;
    border-bottom-color: #e5e7eb
}

.tw-prose tbody tr:last-child {
    border-bottom-width: 0
}

.tw-prose tbody td {
    vertical-align: top;
    padding: .5714286em
}

.tw-prose {
    font-size: 1rem;
    line-height: 1.75
}

.tw-prose p {
    margin-top: 1.25em;
    margin-bottom: 1.25em
}

.tw-prose figure, .tw-prose img, .tw-prose video {
    margin-top: 2em;
    margin-bottom: 2em
}

.tw-prose figure > * {
    margin-top: 0;
    margin-bottom: 0
}

.tw-prose h2 code {
    font-size: .875em
}

.tw-prose h3 code {
    font-size: .9em
}

.tw-prose ul {
    margin-top: 1.25em;
    margin-bottom: 1.25em
}

.tw-prose li {
    margin-top: .5em;
    margin-bottom: .5em
}

.tw-prose > ul > li p {
    margin-top: .75em;
    margin-bottom: .75em
}

.tw-prose > ul > li > :first-child {
    margin-top: 1.25em
}

.tw-prose > ul > li > :last-child {
    margin-bottom: 1.25em
}

.tw-prose > ol > li > :first-child {
    margin-top: 1.25em
}

.tw-prose > ol > li > :last-child {
    margin-bottom: 1.25em
}

.tw-prose ol ol, .tw-prose ol ul, .tw-prose ul ol, .tw-prose ul ul {
    margin-top: .75em;
    margin-bottom: .75em
}

.tw-prose h2 + *, .tw-prose h3 + *, .tw-prose h4 + *, .tw-prose hr + * {
    margin-top: 0
}

.tw-prose thead th:first-child {
    padding-left: 0
}

.tw-prose thead th:last-child {
    padding-right: 0
}

.tw-prose tbody td:first-child {
    padding-left: 0
}

.tw-prose tbody td:last-child {
    padding-right: 0
}

.tw-prose > :first-child {
    margin-top: 0
}

.tw-prose > :last-child {
    margin-bottom: 0
}

.tw-prose-sm {
    font-size: .875rem;
    line-height: 1.7142857
}

.tw-prose-sm p {
    margin-top: 1.1428571em;
    margin-bottom: 1.1428571em
}

.tw-prose-sm [class~=lead] {
    font-size: 1.2857143em;
    line-height: 1.5555556;
    margin-top: .8888889em;
    margin-bottom: .8888889em
}

.tw-prose-sm blockquote {
    margin-top: 1.3333333em;
    margin-bottom: 1.3333333em;
    padding-left: 1.1111111em
}

.tw-prose-sm h1 {
    font-size: 2.1428571em;
    margin-top: 0;
    margin-bottom: .8em;
    line-height: 1.2
}

.tw-prose-sm h2 {
    font-size: 1.4285714em;
    margin-top: 1.6em;
    margin-bottom: .8em;
    line-height: 1.4
}

.tw-prose-sm h3 {
    font-size: 1.2857143em;
    margin-top: 1.5555556em;
    margin-bottom: .4444444em;
    line-height: 1.5555556
}

.tw-prose-sm h4 {
    margin-top: 1.4285714em;
    margin-bottom: .5714286em;
    line-height: 1.4285714
}

.tw-prose-sm figure, .tw-prose-sm img, .tw-prose-sm video {
    margin-top: 1.7142857em;
    margin-bottom: 1.7142857em
}

.tw-prose-sm figure > * {
    margin-top: 0;
    margin-bottom: 0
}

.tw-prose-sm figure figcaption {
    font-size: .8571429em;
    line-height: 1.3333333;
    margin-top: .6666667em
}

.tw-prose-sm code {
    font-size: .8571429em
}

.tw-prose-sm h2 code {
    font-size: .9em
}

.tw-prose-sm h3 code {
    font-size: .8888889em
}

.tw-prose-sm pre {
    font-size: .8571429em;
    line-height: 1.6666667;
    margin-top: 1.6666667em;
    margin-bottom: 1.6666667em;
    border-radius: .25rem;
    padding: .6666667em 1em
}

.tw-prose-sm ol, .tw-prose-sm ul {
    margin-top: 1.1428571em;
    margin-bottom: 1.1428571em
}

.tw-prose-sm li {
    margin-top: .2857143em;
    margin-bottom: .2857143em
}

.tw-prose-sm ol > li {
    padding-left: 1.5714286em
}

.tw-prose-sm ol > li:before {
    left: 0
}

.tw-prose-sm ul > li {
    padding-left: 1.5714286em
}

.tw-prose-sm ul > li:before {
    height: .3571429em;
    width: .3571429em;
    top: .67857em;
    left: .2142857em
}

.tw-prose-sm > ul > li p {
    margin-top: .5714286em;
    margin-bottom: .5714286em
}

.tw-prose-sm > ul > li > :first-child {
    margin-top: 1.1428571em
}

.tw-prose-sm > ul > li > :last-child {
    margin-bottom: 1.1428571em
}

.tw-prose-sm > ol > li > :first-child {
    margin-top: 1.1428571em
}

.tw-prose-sm > ol > li > :last-child {
    margin-bottom: 1.1428571em
}

.tw-prose-sm ol ol, .tw-prose-sm ol ul, .tw-prose-sm ul ol, .tw-prose-sm ul ul {
    margin-top: .5714286em;
    margin-bottom: .5714286em
}

.tw-prose-sm hr {
    margin-top: 2.8571429em;
    margin-bottom: 2.8571429em
}

.tw-prose-sm h2 + *, .tw-prose-sm h3 + *, .tw-prose-sm h4 + *, .tw-prose-sm hr + * {
    margin-top: 0
}

.tw-prose-sm table {
    font-size: .8571429em;
    line-height: 1.5
}

.tw-prose-sm thead th {
    padding-right: 1em;
    padding-bottom: .6666667em;
    padding-left: 1em
}

.tw-prose-sm thead th:first-child {
    padding-left: 0
}

.tw-prose-sm thead th:last-child {
    padding-right: 0
}

.tw-prose-sm tbody td {
    padding: .6666667em 1em
}

.tw-prose-sm tbody td:first-child {
    padding-left: 0
}

.tw-prose-sm tbody td:last-child {
    padding-right: 0
}

.tw-prose-sm > :first-child {
    margin-top: 0
}

.tw-prose-sm > :last-child {
    margin-bottom: 0
}

.tw-mx-auto {
    margin-left: auto;
    margin-right: auto
}

.tw-ml-0 {
    margin-left: 0
}

.tw-ml-4 {
    margin-left: 1rem
}

.tw-ml-8 {
    margin-left: 2rem
}

* {
    --tw-shadow: 0 0 transparent;
    --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59, 130, 246, 0.5);
    --tw-ring-offset-shadow: 0 0 transparent;
    --tw-ring-shadow: 0 0 transparent
}

@-webkit-keyframes tw-spin {
    to {
        transform: rotate(1turn)
    }
}

@keyframes tw-spin {
    to {
        transform: rotate(1turn)
    }
}

@-webkit-keyframes tw-ping {
    75%, to {
        transform: scale(2);
        opacity: 0
    }
}

@keyframes tw-ping {
    75%, to {
        transform: scale(2);
        opacity: 0
    }
}

@-webkit-keyframes tw-pulse {
    50% {
        opacity: .5
    }
}

@keyframes tw-pulse {
    50% {
        opacity: .5
    }
}

@-webkit-keyframes tw-bounce {
    0%, to {
        transform: translateY(-25%);
        -webkit-animation-timing-function: cubic-bezier(.8, 0, 1, 1);
        animation-timing-function: cubic-bezier(.8, 0, 1, 1)
    }
    50% {
        transform: none;
        -webkit-animation-timing-function: cubic-bezier(0, 0, .2, 1);
        animation-timing-function: cubic-bezier(0, 0, .2, 1)
    }
}

@keyframes tw-bounce {
    0%, to {
        transform: translateY(-25%);
        -webkit-animation-timing-function: cubic-bezier(.8, 0, 1, 1);
        animation-timing-function: cubic-bezier(.8, 0, 1, 1)
    }
    50% {
        transform: none;
        -webkit-animation-timing-function: cubic-bezier(0, 0, .2, 1);
        animation-timing-function: cubic-bezier(0, 0, .2, 1)
    }
}

[x-cloak] {
    display: none
}

@media (min-width: 640px) {
    .sm\:tw-prose {
        color: #374151;
        max-width: 65ch
    }

    .sm\:tw-prose [class~=lead] {
        color: #4b5563;
        font-size: 1.25em;
        line-height: 1.6;
        margin-top: 1.2em;
        margin-bottom: 1.2em
    }

    .sm\:tw-prose a {
        color: #111827;
        text-decoration: underline;
        font-weight: 500
    }

    .sm\:tw-prose strong {
        color: #111827;
        font-weight: 600
    }

    .sm\:tw-prose ol {
        counter-reset: list-counter;
        margin-top: 1.25em;
        margin-bottom: 1.25em
    }

    .sm\:tw-prose ol > li {
        position: relative;
        counter-increment: list-counter;
        padding-left: 1.75em
    }

    .sm\:tw-prose ol > li:before {
        content: counter(list-counter) ".";
        position: absolute;
        font-weight: 400;
        color: #6b7280;
        left: 0
    }

    .sm\:tw-prose ul > li {
        position: relative;
        padding-left: 1.75em
    }

    .sm\:tw-prose ul > li:before {
        content: "";
        position: absolute;
        background-color: #d1d5db;
        border-radius: 50%;
        width: .375em;
        height: .375em;
        top: .6875em;
        left: .25em
    }

    .sm\:tw-prose hr {
        border-color: #e5e7eb;
        border-top-width: 1px;
        margin-top: 3em;
        margin-bottom: 3em
    }

    .sm\:tw-prose blockquote {
        font-weight: 500;
        font-style: italic;
        color: #111827;
        border-left-width: .25rem;
        border-left-color: #e5e7eb;
        quotes: "\201C" "\201D" "\2018" "\2019";
        margin-top: 1.6em;
        margin-bottom: 1.6em;
        padding-left: 1em
    }

    .sm\:tw-prose blockquote p:first-of-type:before {
        content: open-quote
    }

    .sm\:tw-prose blockquote p:last-of-type:after {
        content: close-quote
    }

    .sm\:tw-prose h1 {
        color: #111827;
        font-weight: 800;
        font-size: 2.25em;
        margin-top: 0;
        margin-bottom: .8888889em;
        line-height: 1.1111111
    }

    .sm\:tw-prose h2 {
        color: #111827;
        font-weight: 700;
        font-size: 1.5em;
        margin-top: 2em;
        margin-bottom: 1em;
        line-height: 1.3333333
    }

    .sm\:tw-prose h3 {
        color: #111827;
        font-weight: 600;
        font-size: 1.25em;
        margin-top: 1.6em;
        margin-bottom: .6em;
        line-height: 1.6
    }

    .sm\:tw-prose h4 {
        color: #111827;
        font-weight: 600;
        margin-top: 1.5em;
        margin-bottom: .5em;
        line-height: 1.5
    }

    .sm\:tw-prose figure figcaption {
        color: #6b7280;
        font-size: .875em;
        line-height: 1.4285714;
        margin-top: .8571429em
    }

    .sm\:tw-prose code {
        color: #111827;
        font-weight: 600;
        font-size: .875em
    }

    .sm\:tw-prose code:after, .sm\:tw-prose code:before {
        content: "`"
    }

    .sm\:tw-prose a code {
        color: #111827
    }

    .sm\:tw-prose pre {
        color: #e5e7eb;
        background-color: #1f2937;
        overflow-x: auto;
        font-size: .875em;
        line-height: 1.7142857;
        margin-top: 1.7142857em;
        margin-bottom: 1.7142857em;
        border-radius: .375rem;
        padding: .8571429em 1.1428571em
    }

    .sm\:tw-prose pre code {
        background-color: transparent;
        border-width: 0;
        border-radius: 0;
        padding: 0;
        font-weight: 400;
        color: inherit;
        font-size: inherit;
        font-family: inherit;
        line-height: inherit
    }

    .sm\:tw-prose pre code:after, .sm\:tw-prose pre code:before {
        content: ""
    }

    .sm\:tw-prose table {
        width: 100%;
        table-layout: auto;
        text-align: left;
        margin-top: 2em;
        margin-bottom: 2em;
        font-size: .875em;
        line-height: 1.7142857
    }

    .sm\:tw-prose thead {
        color: #111827;
        font-weight: 600;
        border-bottom-width: 1px;
        border-bottom-color: #d1d5db
    }

    .sm\:tw-prose thead th {
        vertical-align: bottom;
        padding-right: .5714286em;
        padding-bottom: .5714286em;
        padding-left: .5714286em
    }

    .sm\:tw-prose tbody tr {
        border-bottom-width: 1px;
        border-bottom-color: #e5e7eb
    }

    .sm\:tw-prose tbody tr:last-child {
        border-bottom-width: 0
    }

    .sm\:tw-prose tbody td {
        vertical-align: top;
        padding: .5714286em
    }

    .sm\:tw-prose {
        font-size: 1rem;
        line-height: 1.75
    }

    .sm\:tw-prose p {
        margin-top: 1.25em;
        margin-bottom: 1.25em
    }

    .sm\:tw-prose figure, .sm\:tw-prose img, .sm\:tw-prose video {
        margin-top: 2em;
        margin-bottom: 2em
    }

    .sm\:tw-prose figure > * {
        margin-top: 0;
        margin-bottom: 0
    }

    .sm\:tw-prose h2 code {
        font-size: .875em
    }

    .sm\:tw-prose h3 code {
        font-size: .9em
    }

    .sm\:tw-prose ul {
        margin-top: 1.25em;
        margin-bottom: 1.25em
    }

    .sm\:tw-prose li {
        margin-top: .5em;
        margin-bottom: .5em
    }

    .sm\:tw-prose > ul > li p {
        margin-top: .75em;
        margin-bottom: .75em
    }

    .sm\:tw-prose > ul > li > :first-child {
        margin-top: 1.25em
    }

    .sm\:tw-prose > ul > li > :last-child {
        margin-bottom: 1.25em
    }

    .sm\:tw-prose > ol > li > :first-child {
        margin-top: 1.25em
    }

    .sm\:tw-prose > ol > li > :last-child {
        margin-bottom: 1.25em
    }

    .sm\:tw-prose ol ol, .sm\:tw-prose ol ul, .sm\:tw-prose ul ol, .sm\:tw-prose ul ul {
        margin-top: .75em;
        margin-bottom: .75em
    }

    .sm\:tw-prose h2 + *, .sm\:tw-prose h3 + *, .sm\:tw-prose h4 + *, .sm\:tw-prose hr + * {
        margin-top: 0
    }

    .sm\:tw-prose thead th:first-child {
        padding-left: 0
    }

    .sm\:tw-prose thead th:last-child {
        padding-right: 0
    }

    .sm\:tw-prose tbody td:first-child {
        padding-left: 0
    }

    .sm\:tw-prose tbody td:last-child {
        padding-right: 0
    }

    .sm\:tw-prose > :first-child {
        margin-top: 0
    }

    .sm\:tw-prose > :last-child {
        margin-bottom: 0
    }
}

@media (min-width: 1024px) {
    .lg\:tw-prose-lg {
        font-size: 1.125rem;
        line-height: 1.7777778
    }

    .lg\:tw-prose-lg p {
        margin-top: 1.3333333em;
        margin-bottom: 1.3333333em
    }

    .lg\:tw-prose-lg [class~=lead] {
        font-size: 1.2222222em;
        line-height: 1.4545455;
        margin-top: 1.0909091em;
        margin-bottom: 1.0909091em
    }

    .lg\:tw-prose-lg blockquote {
        margin-top: 1.6666667em;
        margin-bottom: 1.6666667em;
        padding-left: 1em
    }

    .lg\:tw-prose-lg h1 {
        font-size: 2.6666667em;
        margin-top: 0;
        margin-bottom: .8333333em;
        line-height: 1
    }

    .lg\:tw-prose-lg h2 {
        font-size: 1.6666667em;
        margin-top: 1.8666667em;
        margin-bottom: 1.0666667em;
        line-height: 1.3333333
    }

    .lg\:tw-prose-lg h3 {
        font-size: 1.3333333em;
        margin-top: 1.6666667em;
        margin-bottom: .6666667em;
        line-height: 1.5
    }

    .lg\:tw-prose-lg h4 {
        margin-top: 1.7777778em;
        margin-bottom: .4444444em;
        line-height: 1.5555556
    }

    .lg\:tw-prose-lg figure, .lg\:tw-prose-lg img, .lg\:tw-prose-lg video {
        margin-top: 1.7777778em;
        margin-bottom: 1.7777778em
    }

    .lg\:tw-prose-lg figure > * {
        margin-top: 0;
        margin-bottom: 0
    }

    .lg\:tw-prose-lg figure figcaption {
        font-size: .8888889em;
        line-height: 1.5;
        margin-top: 1em
    }

    .lg\:tw-prose-lg code {
        font-size: .8888889em
    }

    .lg\:tw-prose-lg h2 code {
        font-size: .8666667em
    }

    .lg\:tw-prose-lg h3 code {
        font-size: .875em
    }

    .lg\:tw-prose-lg pre {
        font-size: .8888889em;
        line-height: 1.75;
        margin-top: 2em;
        margin-bottom: 2em;
        border-radius: .375rem;
        padding: 1em 1.5em
    }

    .lg\:tw-prose-lg ol, .lg\:tw-prose-lg ul {
        margin-top: 1.3333333em;
        margin-bottom: 1.3333333em
    }

    .lg\:tw-prose-lg li {
        margin-top: .6666667em;
        margin-bottom: .6666667em
    }

    .lg\:tw-prose-lg ol > li {
        padding-left: 1.6666667em
    }

    .lg\:tw-prose-lg ol > li:before {
        left: 0
    }

    .lg\:tw-prose-lg ul > li {
        padding-left: 1.6666667em
    }

    .lg\:tw-prose-lg ul > li:before {
        width: .3333333em;
        height: .3333333em;
        top: .72222em;
        left: .2222222em
    }

    .lg\:tw-prose-lg > ul > li p {
        margin-top: .8888889em;
        margin-bottom: .8888889em
    }

    .lg\:tw-prose-lg > ul > li > :first-child {
        margin-top: 1.3333333em
    }

    .lg\:tw-prose-lg > ul > li > :last-child {
        margin-bottom: 1.3333333em
    }

    .lg\:tw-prose-lg > ol > li > :first-child {
        margin-top: 1.3333333em
    }

    .lg\:tw-prose-lg > ol > li > :last-child {
        margin-bottom: 1.3333333em
    }

    .lg\:tw-prose-lg ol ol, .lg\:tw-prose-lg ol ul, .lg\:tw-prose-lg ul ol, .lg\:tw-prose-lg ul ul {
        margin-top: .8888889em;
        margin-bottom: .8888889em
    }

    .lg\:tw-prose-lg hr {
        margin-top: 3.1111111em;
        margin-bottom: 3.1111111em
    }

    .lg\:tw-prose-lg h2 + *, .lg\:tw-prose-lg h3 + *, .lg\:tw-prose-lg h4 + *, .lg\:tw-prose-lg hr + * {
        margin-top: 0
    }

    .lg\:tw-prose-lg table {
        font-size: .8888889em;
        line-height: 1.5
    }

    .lg\:tw-prose-lg thead th {
        padding-right: .75em;
        padding-bottom: .75em;
        padding-left: .75em
    }

    .lg\:tw-prose-lg thead th:first-child {
        padding-left: 0
    }

    .lg\:tw-prose-lg thead th:last-child {
        padding-right: 0
    }

    .lg\:tw-prose-lg tbody td {
        padding: .75em
    }

    .lg\:tw-prose-lg tbody td:first-child {
        padding-left: 0
    }

    .lg\:tw-prose-lg tbody td:last-child {
        padding-right: 0
    }

    .lg\:tw-prose-lg > :first-child {
        margin-top: 0
    }

    .lg\:tw-prose-lg > :last-child {
        margin-bottom: 0
    }
}

/*# sourceMappingURL=app.css.map*/

/*body {*/
/*    background: #FAFAFA;*/
/*    font-family: inter, sans-serif;*/
/*}*/

/*#main-content {*/
/*    background: none;*/
/*}*/

/*.contentWrapper {*/
/*    border-radius: 0.5rem;*/
/*    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);*/
/*}*/

/*#fullArticle {*/
/*    font-size: 16px;*/
/*    line-height: 1.75;*/
/*}*/

/*#fullArticle #toc {*/
/*    background: #F9FAFA;*/
/*    border-left: 4px solid #AAAEB7;*/
/*    margin: 3em 0;*/
/*    padding: 15px;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*}*/

/*#fullArticle h2 + *,*/
/*#fullArticle h3 + *,*/
/*#fullArticle h4 + *,*/
/*#fullArticle hr + * {*/
/*    margin-top: 0;*/
/*}*/

/*#fullArticle h1,*/
/*#fullArticle h2,*/
/*#fullArticle h3,*/
/*#fullArticle h4,*/
/*#fullArticle h5,*/
/*#fullArticle h6 {*/
/*    font-size: inherit;*/
/*    font-weight: inherit;*/
/*}*/

/*#fullArticle h3, #fullArticle h4 {*/
/*    color: #111827;*/
/*    font-weight: 600;*/
/*}*/

/*#fullArticle h2 {*/
/*    color: #111827;*/
/*    font-weight: 700;*/
/*    font-size: 1.5em;*/
/*    margin-top: 2em;*/
/*    margin-bottom: 1em;*/
/*    line-height: 1.3333333;*/
/*}*/

/*#fullArticle h3 {*/
/*    margin-top: 1.6em;*/
/*    font-size: 1.25em;*/
/*    margin-bottom: .6em;*/
/*    line-height: 1.6;*/
/*}*/

/*#fullArticle h4 {*/
/*    margin-top: 1.5em;*/
/*    margin-bottom: .5em;*/
/*    line-height: 1.5;*/
/*}*/

/*#fullArticle h5 {*/
/*    margin-top: 1.5em;*/
/*    margin-bottom: .5em;*/
/*    line-height: 1.25;*/
/*    font-weight: 600;*/
/*}*/

/*#fullArticle h2 a,*/
/*#fullArticle h3 a,*/
/*#fullArticle h4 a,*/
/*#fullArticle h5 a {*/
/*    color: #111827;*/
/*}*/

/*#fullArticle hr {*/
/*    height: 0;*/
/*    color: inherit;*/
/*    border-bottom: 0;*/
/*    border-color: #e5e7eb;*/
/*    border-top-width: 1px;*/
/*    margin-top: 3em;*/
/*    margin-bottom: 3em;*/
/*}*/

/*#fullArticle p {*/
/*    font-size: 1rem;*/
/*    line-height: 1.75;*/
/*}*/

/*#fullArticle h2 {*/
/*    color: #111827;*/
/*    font-weight: 700;*/
/*    font-size: 1.5em;*/
/*    margin-top: 2em;*/
/*    margin-bottom: 1em;*/
/*    line-height: 1.3333333;*/
/*}*/

/*#fullArticle pre {*/
/*    color: #e5e7eb;*/
/*    background-color: #1f2937;*/
/*    overflow-x: auto;*/
/*    font-size: .875em;*/
/*    line-height: 1.7142857;*/
/*    margin-top: 1.7142857em;*/
/*    margin-bottom: 1.7142857em;*/
/*    border-radius: .375rem;*/
/*    padding: .8571429em 1.1428571em;*/
/*    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;*/
/*}*/

/*!* Utilities *!*/
/*.ml-0 {*/
/*    margin-left: 0;*/
/*}*/

/*.ml-4 {*/
/*    margin-left: 1rem;*/
/*}*/

/*.ml-8 {*/
/*    margin-left: 2rem;*/
/*}*/