body {
    background: #FAFAFA;
    font-family: inter, sans-serif;
}

#toc {
    background: #F9FAFA;
    border-left: 4px solid #AAAEB7;
    margin: 3em 0;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

#main-content {
    background: none;
}

.contentWrapper {
    border-radius: 0.5rem;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}


#fullArticle {
    font-size: 16px;
    line-height: 1.75;
}

#fullArticle h2 a {
    color: #111827;
}

#fullArticle hr {
    height: 0;
    color: inherit;
    border-bottom: 0;
    border-color: #e5e7eb;
    border-top-width: 1px;
    margin-top: 3em;
    margin-bottom: 3em;

}

#fullArticle p {
    font-size: 1rem;
    line-height: 1.75;
}

#fullArticle h2 {
    color: #111827;
    font-weight: 700;
    font-size: 1.5em;
    margin-top: 2em;
    margin-bottom: 1em;
    line-height: 1.3333333;
}

.ml-0 {
    margin-left: 0;
}

.ml-4 {
    margin-left: 1rem;
}

.ml-8 {
    margin-left: 2rem;
}